body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(37, 37, 37);
    color: white;
}
h1{
    text-align: center;
    margin-top: 20px;
}
h2{
    text-align: center;
}
.send-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 80%;
    margin-inline: auto;
    row-gap: 10px;
}
.send-wrapper .submit-input, .send-wrapper .message-input, .send-wrapper .username-input{
    width: 100%;
    height: 30px;
}
.send-wrapper .message-input, .send-wrapper .username-input{
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.send-wrapper .submit-input{
    border-radius: 10px;
    border: none;
    background-color: rgb(37, 124, 37);
    color: white;
    cursor: pointer;
    margin-bottom: 30px;
    height: 40px;
}
#message-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.message{
    background-color: rgb(56, 56, 56);
    width: fit-content;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
}
.message p{
    margin: 0;
}
.message p.message-time{
    color: rgb(112, 112, 112);
    font-size: 14px;
    margin-top: 10px;
}
.message p.message-text{
    margin-top: 5px;
}
.message p.message-user{
    font-size: 14px;
}